/* This stylesheet is used to style the admin option form of the plugin. */

#icon-pinterest-32 {
	background: transparent url('../assets/pinterest-icon-32.png') no-repeat;
}

/* This icon is taken from the Flat Social Media Icons fromk Designmodo at
 * http://designmodo.com/flat-social-icons/
 */

/* Layout the page similar to the built-in post edit screen. */

#pvr-settings {
	margin-right: 310px;
}

#pvr-settings-content {
	width: 100%;
	float: left;
}

#pvr-settings-sidebar {
	float: right;
	margin-top: 9px;
	margin-right: -310px;
	width: 290px;
}

#pvr-settings-sidebar {
	font-family: "Lato", sans-serif; /* Base font from Flat UI body tag. */
}

/* Sidebar container. Taken from Flat UI .tile & popover classes. */

#pvr-settings-sidebar .sidebar-container {
	background-color: #edeff1;
	border-radius: 6px;
	font-size: 15px;
	margin-bottom: 18px;
	padding: 0;
	position: relative;
	text-align: left;
}

#pvr-settings-sidebar .sidebar-title-large {
	background-color: #bcc3ca;
	border-bottom: 1px solid #ebebeb;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	margin: 0;
	padding: 10px 20px 11px;
	text-align: center;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#pvr-settings-sidebar .sidebar-content {
	padding: 14px;
}

#pvr-settings-sidebar .sidebar-content p {
	line-height: 1.4em;
	margin: 0 0 10px;
	text-align: center;
}

#pvr-settings-sidebar .sidebar-content p.small-text {
	font-size: 13px;
}
